/* .swiper-container {
  width: 100%;
}

@media screen and (min-width: 100) {
  .swiper-container {
    width: 100px;
  }
}

@media screen and (min-width: 600) {
  .swiper-container {
    width: 600px;
  }
}

@media screen and (min-width: 800) {
  .swiper-container {
    width: 800px;
  }
}

@media screen and (min-width: 1024) {
  .swiper-container {
    width: 1024px;
  }
} */
